*{
  border: 1px dashed blue;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
}
.navbar a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}
.navbar .logo {
  font-size: 44px;
  font-weight: 600;
  color: blue;
}
.navbar .nav-links {
  display: flex;
  gap: 30px; /* Adjust the value to increase or decrease the space */
}
.navbar .nav-link.home {
  color: blue;

}
