body {
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 120px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.about-me {
padding: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me h2, .tech-stack h2 {
  color: blue;

}

.about-me p {
  font-size: 18px;
  width: 300px;
}

.tech-stack {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.tech-stack h2 {
  grid-column: span 4; /* Ensure the heading takes full width */
}

.tech-item {
  background-color: #e0e0e0;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
