
.projects{
  margin-top: 120px;
  font-size: 40px;
  font-family: Arial;
  text-align: center;
  color: #007bff;
  font-weight: 600;
  padding: 10px;
}
.image-classifier{
  align-items: stretch;
  margin-left: 30px;
  display: flex;
  height: 200px;

}

.project-image{
width: 350px;
}
.project-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.title, .project-description, .project-tech-stack, .project-links {
  padding: 5px 10px;
}
.title{
  color: grey;
  font-size: 24px;
}
.project-tech-stack {
  color: grey;
  font-size: 20px;
}
.project-links {
  margin-top: auto; /* Pushes the links to the bottom of the .project-info div */
}
.project-links button{
  border: none;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  transition: background-color color 0.2s;
}
.project-links button:hover {
color: #007bff;
background-color: white;
transition: 0.2s;
}
.github-button{
  margin-left: 20px;
}

/* Responsive design */
@media (max-width: 768px) {
  .image-classifier {
    flex-direction: column;
    height: auto;
    margin-left: 0; /* Adjust margin if needed */
  }

  .project-image {
    width: 100%;
  }

  .project-image img {
    height: auto;
  }
}