@media (max-width: 768px) {
  .social-links a {
    font-size: 1.5rem; /* Smaller icons on smaller screens */
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 150px;
  }
  
  .navbar .logo {
    margin-bottom: 10px;
  }
  
  .navbar .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .home-page {
    flex-direction: column;
  }
  
  .first-row, .second-row {
    width: 100%;
  }
  
  .first-row {
    order: 2; /* Make sure first-row appears below second-row */
  }
  
  .second-row {
    order: 1; /* Make sure second-row appears above first-row */
  }
  .social-links a {
    font-size: 1.5rem; /* Smaller icons on smaller screens */
  }
}

/*about.css responsive*/
/* Responsive Styles */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .about-me, .tech-stack {
    width: 100%;
    max-width: 600px;
  }

  .tech-stack {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
  }

  .about-me h2, .tech-stack h2 {
    text-align: center; /* Center align headings for medium screens */
  }
}

@media (max-width: 768px) {
  .tech-stack {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
  }

  .about-me h2, .tech-stack h2 {
    text-align: center; /* Center align headings for small screens */
  }
}

@media (max-width: 480px) {
  .tech-stack {
    grid-template-columns: 1fr; /* 1 column for extra small screens */
  }

  .about-me h2, .tech-stack h2 {
    text-align: center; /* Center align headings for extra small screens */
  }

  .nav-links {
    margin-right: 20px; /* Adjust the margin for smaller screens */
  }

  .nav-links a {
    font-size: 20px; /* Smaller font size for nav links */
  }
}

/*project.css responsive design*/
/* Responsive design */
@media (max-width: 768px) {
  .projects-name{
    margin-top: 150px;
  }
  .image-classifier {
    flex-direction: column;
    height: auto;
    margin-left: 0; /* Adjust margin if needed */
  }

  .project-image {
    width: 90%;
  }

  .project-image img {
    height: auto;
  }
}